* {
  box-sizing: border-box;
}
img{
  display: block;
  object-fit: cover;
  object-position: center;
}
body{
  font-family: 'Montserrat', sans-serif;
  line-height: 150%;
  letter-spacing: 0.04em;
}
main{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 0 156px;
}
.form{
  display: flex;
  gap: 8px;
  margin-top: 36px;
}
input{
  font-family: inherit;
  padding: 8px 16px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: transparent;
  border: 1px solid #808080;
  transition: border-color 250ms ease-in-out;
}
input:hover{
  border-color: #000;
}
input:focus:not(:placeholder-shown) {
  border-color: #4e75ff;
}
input::placeholder{
  font-family: 'Montserrat', sans-serif;
}
button{
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border-color: transparent;
  font-family: inherit;
  transition: background-color 250ms ease-in-out;
}
button:hover{
  background-color: #6c8cff;;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

.gallery{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 0;;
}
.gallery-item{
  flex-basis: calc((100% - 2 * 24px) / 3);
  border: 1px solid #808080;
  max-width: 360px;
  height: 200px;
  overflow: hidden;
}
.feature{
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  max-width: 72px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
}
.text{
  font-weight: 400;
  line-height: 200%;
}
.features{
  display: flex;
  gap: 27px;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 40px;
  height: 60px;
  animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader:before,
.loader:after {
  content: "";
  background: #ff3d00 ;
  width: 40px;
  height: 60px;
  border-radius: 50px 50px 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(45deg);
  transform-origin: 50% 68%;
  box-shadow: 5px 4px 5px #0004 inset;
}
.loader:after {
  transform: rotate(-45deg);
}
@keyframes heartBeat {
  0% { transform: scale(0.95) }
  5% { transform: scale(1.1) }
  39% { transform: scale(0.85) }
  45% { transform: scale(1) }
  60% { transform: scale(0.95) }
  100% { transform: scale(0.9) }
}
.is-hidden {
  display: none;
}